body,html{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPoCLQJ6uhVU-qtNLxXhLoGMMgJTijJXBO5O4T7KdyJifKJigTtNFatRTkqR-iwAJj-NE&usqp=CAU");
    height: 100%;
}
.game-box{
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0.,0,0,0.23);
}
.answer-item{
    background: rgb(223, 201, 7);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
}
#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#16c774;
    font:bold 40px;
	color: white;
}

#code-title{
    text-align: center;
    font-weight: bold;
}